* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "aladin";
}

audio {
  visibility: hidden;
  display: none;
}

.nav-wrapper {
  /* #f75f1c */

  background-color: #df5b05;
}

.brand-logo {
  font-family: "aladin";
  font-size: 1.5em;
  color: #cb1cf7;
}

header a {
  font-family: "aladin";
}

header .sidenav-trigger img {
  height: 50px;
  width: 50px;
}

.main-page {
  display: block;
}

.main-page .image1 {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.main-page h1 {
  position: absolute;
  font-family: aladin;
  color: #f75f1c;
  text-align: center;
  margin: auto;
  top: 20%;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 3em;
}

.main-page p {
  position: absolute;
  font-family: aladin;
  color: rgb(248, 185, 185);
  text-align: center;
  margin: auto;
  top: 40%;
  left: 0;
  bottom: 0;
  right: 0;
  font-size: 1.2em;
}

.button1 {
  position: absolute;
  margin: auto;
  height: 70px;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 10px;
  right: 0;
}

.button1 h3 {
  text-align: center;
  font-family: aladin;
  color: #df5b05;
}

.button1 span svg {
  display: flex;
  justify-self: center;
  margin: auto;
  font-family: aladin;
  margin-top: 20vh;
}

.enter {
  background: radial-gradient(ellipse at bottom, #df5b05 0%, #f75f1c 100%);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: aladin;
  color: #df5b05;
  margin: auto;
  border: 1px solid rgb(199, 4, 224);
}

.enter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: rgb(36, 3, 56);
  border-radius: 0 0 20px 20px;
}

.enter:hover {
  box-shadow: 0 0 20px 10px rgba(230, 30, 10, 0.6);
  animation: burn 1000ms ease-out forwards;
}
.enter::before {
  content: "";
  position: absolute;
  left: 40px;
  width: 100px;
  height: 40px;
  background: #f75f1c;
  border-radius: 100%;
  animation: flare 1000ms ease-out forwards;
}

.enter::after {
  content: "";
  position: absolute;
  right: 40px;
  width: 100px;
  height: 40px;
  background: #f75f1c;
  border-radius: 100%;
  animation: flare 1000ms ease-out forwards;
}

@keyframes flare {
  100% {
    transform: translateY(-20px) scale(1.5);
    filter: blur(10px);
    opacity: 0;
  }
}

@keyframes burn {
  0% {
    color: rgba(255, 130, 110, 1);
    background: rgb(199, 4, 224);
    box-shadow: 0 0 5px 0 rgba(200, 0, 10, 1), 0 0 5px 0 rgba(230, 30, 10, 0.8),
      0 0 5px 0 rgba(230, 230, 10, 0.6);
  }

  100% {
    color: rgb(199, 4, 224);
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0),
      0 -30px 30px 10px rgba(230, 30, 10, 0),
      0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}

.page2 {
  display: none;
}

.choose-page {
  height: auto;
  width: 100vw;
  align-items: center;
  display: block;
  justify-content: center;
  font-family: aladin;
  margin: 0;
  background-color: black;
}

/* page 2 the choose page style */


.card1 {
  background: white;
  background-image: url("https://res.cloudinary.com/ecommerce1/image/upload/v1603970341/samples/landscapes/Halloween-2020_ef19hc.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  height: 70%;

  margin: 20px;
  padding: 0 20px;
  position: relative;
  text-align: center;
  transition: height 1000ms;
  width: 95%;
  overflow: hidden;
}

.card2 {
  background: white;
  background-image: url(" https://res.cloudinary.com/ecommerce1/image/upload/v1603970328/samples/landscapes/halloween-2019-blog-1-1_ji1922.jpg");
  border-radius: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  cursor: pointer;
  height: 70%;
  margin: 20px;
  padding: 0 20px;
  position: relative;
  text-align: center;
  transition: height 1000ms;
  width: 95%;
  overflow: hidden;
}

.card1.expanded {
  height: 70%;
}

.card2.expanded {
  height: 70%;
}

.card1.expanded .text1 {
  color: #ba10ee;
}
.card2.expanded .text2 {
  color: #f75f1c;
}
.text-content {
  transform: translateY(-160px);
  transition: transform 1000ms;
}
.card1.expanded .text-content {
  transform: translateY(20px);
}
.card2.expanded .text-content {
  transform: translateY(20px);
}
.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%;
  transition: transform 1000ms;
  color: #f75f1c;
  transform: rotate(180deg);
}
.expanded .chevron {
  transform: rotate(0deg);
}
.title {
  font-family: "Aladin", sans-serif;
  font-weight: 900;
  margin: 50px 0 12px;
}
.body-text {
  padding: 0 20px;
}

.choose {
  border-bottom: 1px solid #cb1cf7;
  width: 100%;
  height: 50px;
  text-align: center;
  color: #f75f1c;
  font-family: "Aladin", sans-serif;
  font-weight: 800;
  font-size: 1.5em;
}

.btn {
  transform: translateY(600px);
  transition: transform 1000ms;
}

.expanded .btn {
  transform: translateY(50px);
}

/* this is the mobile view style */

/* 
@media only screen and (max-width: 600px) {

  
.brand-logo {
  font-family: "aladin";
  font-size: 5em;
  color: #cb1cf7;
}


  .main-page h1 {
    position: absolute;
    font-family: aladin;
    color: #f75f1c;
    text-align: center;
    margin: auto;
    top: 25%;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 5em;
  }
  
  .main-page p {
    position: absolute;
    font-family: aladin;
    color: rgb(248, 185, 185);
    text-align: center;
    margin: auto;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: 2.5em;
  }


  .choose-page {
    height:auto;
    width: 100%;
    display: block;
    font-size: 120%;
  }

  .card1 {
    left: calc(50% - 20px);
    transform: translateX(-50%);
    max-width: 95vw;
    max-height: 70vh;
    background-size: cover;
    background-position: center;
  }
  .card2 {
    left: calc(50% - 20px);
    transform: translateX(-50%);
    max-width: 95vw;
    max-height: 70vh;
    background-size: cover;
    background-position: center;
  }

  .btn {
    transform: translateY(5000px);
    transition: transform 1000ms;
  }

  .expanded .btn {
    transform: translateY(500px);
  }

  .card1.expanded .text1 {
    color: #ba10ee;
  }
  .card2.expanded .text2 {
    color: #f75f1c;
  }
  .text-content {
    transform: translateY(-160px);
    transition: transform 1000ms;
  }
  .card1.expanded .text-content {
    transform: translateY(300px);
  }
  .card2.expanded .text-content {
    transform: translateY(300px);
  }

}
 */



/* 
this is the treat and trick page style */

#treatPage {
  display: none;
}

#trickPage {
  display: none;
}

.treat-page .card {
  max-height: 300px;
  height: 100%;
  width: 100%;
  margin: 50px 0px;
}

.trick-page .card-image img {
  background-size: auto;
  height: 300px;
}

.trick-page .card {
  max-height: 300px;
  height: 100%;
  width: 100%;
  margin: 50px 0px;
}

.treat-page .card-image img {
  background-size: auto;
  height: 300px;
}

.treat-page .card-title {
  color: purple;
}

.treat-page .card-content {
  color: orange;
}

.trick-page .card-title {
  color: purple;
}

.trick-page .card-content {
  color: orange;
}
